<section id="services" class="feature-section pt-120">
    <div class="container">
        <h2 id="servicesTitle" class="mb-25 wow fadeInUp text-center" data-wow-delay=".2s">
            Our Services
        </h2>
        <div class="row justify-content-center services">

            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <img src="../../../assets/img/services/hr.png" alt="" style="width: 70%"/>
                    </div>
                    <div class="content">
                        <h3 id="service1">Human Resource</h3>
                        <p id="service1Desc">Employees, Departments, Contracts, Recruitment, etc ...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <img src="../../../assets/img/services/crm.png" alt="" style="width: 70%"/>
                    </div>
                    <div class="content">
                        <h3 id="service2">Customer Relationship</h3>
                        <p id="service2Desc">
                            Prospects, Clients, Contracts, Sales, etc ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <img src="../../../assets/img/services/finances.png" alt="" style="width: 70%"/>
                    </div>
                    <div class="content">
                        <h3 id="service3">Financial Management</h3>
                        <p id="service3Desc">
                            Cash Flow, Sales, Budgets, Reconciliation, etc ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <img src="../../../assets/img/services/accounting.png" alt="" style="width: 70%"/>
                    </div>
                    <div class="content">
                        <h3 id="service4">Accounting</h3>
                        <p id="service4Desc">
                            Accounts, Auxiliary Logs, Accounting Entries, Invoices, etc ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <img src="../../../assets/img/services/stock.png" alt="" style="width: 70%"/>
                    </div>
                    <div class="content">
                        <h3 id="service5">Product and Stock</h3>
                        <p id="service5Desc">
                            Suppliers, Procurement Process, Warehouse, Inventories, etc ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <img src="../../../assets/img/services/marketing.png" alt="" style="width: 70%"/>
                    </div>
                    <div class="content">
                        <h3 id="service6">Communication and Marketing</h3>
                        <p id="service6Desc">
                            Partners, Marketing, Events, Communication, etc ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <img src="../../../assets/img/services/litiges.png" alt="" style="width: 70%"/>
                    </div>
                    <div class="content">
                        <h3 id="service7">Recovery and Litigation</h3>
                        <p id="service7Desc">
                            Laws, Disputes, Lawyers, etc ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <img src="../../../assets/img/services/project.png" alt="" style="width: 70%"/>
                    </div>
                    <div class="content">
                        <h3 id="service8">Project Management</h3>
                        <p id="service8Desc">
                            Project Chart, Action Plan, Stakeholders, Requirements, etc ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon">
                        <img src="../../../assets/img/services/quality.png" alt="" style="width: 70%"/>
                    </div>
                    <div class="content">
                        <h3 id="service9">Quality Management</h3>
                        <p id="service9Desc">
                            Quality Policy, Quality Planning and Assurance, Quality Control, etc ...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
