<section class="error-page section">
	<div class="container">
		<div class="row mt-5">
			<div class="col-lg-6 offset-lg-3 col-12">
				<!-- Error Inner -->
				<div class="error-inner">
					<h1>404<span>Oops! something's gone wrong</span></h1>
					<h5 class="mt-5"> We can't seem to find the page you're looking for</h5>
					<br>
                    <div class="d-flex justify-content-center mt-5">
                        <div>
                            <a href="/" class="btn btn-primary" [routerLink]="['/']">
                                <i class=" fa fa-solid fa-arrow-left"></i> Back To Home</a>
                        </div>
                    </div>
				</div>
				<!--/ End Error Inner -->
			</div>
		</div>
	</div>
</section>
