<section id="home" class="hero-section">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1 class="wow fadeInUp" data-wow-delay=".4s">
                        MANAJERO
                    </h1>
                    <h2 id="description1" class="wow fadeInUp" data-wow-delay=".4s">
                        Cloud ERP Software for Small and medium businesses
                    </h2>
                    <p id="description2" class="wow fadeInUp" data-wow-delay=".6s">
                        A simple and powerful ERP software for Manufacturing, Distribution and Services.
                    </p>
                    <a
                            [routerLink]="['/joinus']"
                            class="main-btn wow fadeInUp"
                            data-wow-delay=".6s"
                            id="purchaseBtn"
                    >Purchase Now</a
                    >
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
                    <img src="../../../assets/img/hero/hero-img.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>
