<section id="sdg" class="feature-section pt-120">
    <div class="container">
        <h2 id="sdgTitle" class="mb-25 wow fadeInUp text-center" data-wow-delay=".2s">
            Our Sustainable Development Goals
        </h2>
        <div class="row justify-content-center">

            <div class="col-lg-5 col-md-8 col-sm-10">
                <div class="single-feature wow fadeInUp">
                    <div>
                        <img src="../../../assets/img/sdg/sdg8.png" alt="" style="width: 50%"/>
                    </div>
                    <div class="content ">
                        <h4 id="sdg1">Decent Work And Economic Growth</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-10">
                <div class="single-feature wow fadeInUp">
                    <div>
                        <img src="../../../assets/img/sdg/sdg9.png" alt="" style="width: 50%"/>
                    </div>
                    <div class="content">
                        <h4 id="sdg2">Industry, Innovation And Infrastructure</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-10">
                <div class="single-feature wow fadeInUp">
                    <div>
                        <img src="../../../assets/img/sdg/sdg12.png" alt="" style="width: 50%;"/>
                    </div>
                    <div class="content">
                        <h4 id="sdg3">Responsible Consumption And Production</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-10">
                <div class="single-feature wow fadeInUp">
                    <div>
                        <img src="../../../assets/img/sdg/sdg17.png" alt="" style="width: 50%"/>
                    </div>
                    <div class="content">
                        <h4 id="sdg4">Partnerships For The Goals</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
