

/* ====== feature css ====== */

.feature-section{
  margin-top: 10%;
}
.feature-section h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.feature-section .single-feature {
  text-align: center;
  padding: 30px 10px;
}

.feature-section .single-feature .icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgba(88, 100, 255, 0.1);
  color: #0f5599;
  margin: auto auto 30px;
  font-size: 65px;
  line-height: 1;
}

.feature-section .single-feature .content h3 {
  margin-bottom: 20px;
}

.feature-section .single-feature .content p {
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 767px) {
  .feature-section.pt-120 {
    padding-top: 80px;
  }
}


@media only screen and (min-width: 1400px) {
  .feature-section .single-feature {
    padding: 30px 40px;
  }
}

@media (max-width: 767px) {

  .feature-section h2 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {

  .feature-section h2 {
    font-size: 35px;
  }
}


